# node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
package-lock.json

# env
.env
.env.local
.env.*.local

# mac / editor
.DS_Store
.idea/
.vscode/

# RN Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
*.keystore
*.jks

# RN iOS
ios/build/
ios/DerivedData/
ios/Pods/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# misc
dist/
coverage/
